{% extends 'panel/admin_panel.html' %}

{% block content %}
<div class="container">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <h5>resident name :{{ object.r_name }}</h5>
        </div>
        <div class="form-group">
            <h5>Email : {{ object.email }}</h5>
        </div>
        <div class="form-group">
            <h5> ph. no : {{ object.number }}</h5>
        </div>
        <div class="form-group">
            <h5>event : {{ object.event_name }}</h5>
        </div>
        <div class="form-group">
            <h5>From : {{ object.starting_date }}</h5>
        </div>
        <div class="form-group">
            <h5>till : {{ object.ending_date }}</h5>
        </div>

        <br>
        <h3>Do you want to Delete this Booking ?</h3>
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="{% url 'common_plot_booking_admin' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>

{% endblock %}