{% extends 'panel/admin_panel.html' %}

{% block content %}
<div class="container">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label>Emergency Notice : </label>
            <textarea class="form-control" name ="e_notice" id="e_notice" rows="3">{{ e_notice.e_notice }}</textarea>
        </div>

        <br>
        <h3>Do you want to Delete this Emergency Notice ?</h3>
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="{% url 'emergency_notice_admin' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>

{% endblock %}