{% extends 'panel/admin_panel.html' %}

{% block content %}
<div class="container">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label>Notice : </label>
            <textarea class="form-control" name ="notice" id="notice" rows="3">{{ notice.notice }}</textarea>
        </div>

        <br>

        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="{% url 'society_notice_admin' %}" class="btn btn-secondary">Go back</a>
    </form>
</div>

{% endblock %}