{% extends 'panel/admin_panel.html' %}
{% block content %}
    <div class="container">

        <h2 style="text-align: center;"> Emergency Notices</h2>

        <hr>

        <a href="{% url 'create_enotice' %}" class="btn btn-secondary">Create Emergency Notice</a>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">id</th>
                <th scope="col">Notice</th>
                <th scope="col">Time</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
            {% for e_notice in e_notices%}
              <tr>
                <th scope="row">{{e_notice.id}}</th>
                <td>{{e_notice.e_notice}}</td>
                <td>{{e_notice.datetime}}</td>
                <td><a href="{% url 'edit_enotice' e_notice.id %}" class="btn btn-info">Edit</a></td>
                <td><a href="{% url 'delete_enotice' e_notice.id %}" class="btn btn-danger">Delete</a></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
    </div>   
{% endblock %}