{% extends 'panel/admin_panel.html' %}
{% block content %}
    <div class="container">

        <h2 style="text-align: center;"> Feedbacks </h2>

        <hr>

        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">id</th>
                <th scope="col">resident name</th>
                <th scope="col">email</th>
                <th scope="col">ph. no.</th>
                <th scope="col">feedback</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
            {% for feedback in feedbacks%}
              <tr>
                <th scope="row">{{feedback.id}}</th>
                <td>{{feedback.r_name}}</td>
                <td>{{feedback.email}}</td>
                <td>{{feedback.number}}</td>
                <td>{{feedback.feedback}}</td>
                <td><a href="{% url 'delete_feedback' feedback.id %}" class="btn btn-danger">Delete</a></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
    </div>   
{% endblock %}