{% extends 'panel/admin_panel.html' %}
{% block content %}
    <div class="container">

        <h2 style="text-align: center;"> Shop opening queries </h2>

        <hr>

        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">id</th>
                <th scope="col">resident name</th>
                <th scope="col">email</th>
                <th scope="col">ph. no.</th>
                <th scope="col">shop category</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
            {% for query in queries%}
              <tr>
                <th scope="row">{{query.id}}</th>
                <td>{{query.r_name}}</td>
                <td>{{query.email}}</td>
                <td>{{query.number}}</td>
                <td>{{query.shop_category}}</td>
                <td><a href="{% url 'delete_shop' query.id %}" class="btn btn-danger">Delete</a></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
    </div>   
{% endblock %}