{% extends 'panel/admin_panel.html' %}
{% block content %}
    <div class="container">

        <h2 style="text-align: center;">Notices</h2>

        <hr>

        <a href="{% url 'create_notice' %}" class="btn btn-secondary">Create Notice</a>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">id</th>
                <th scope="col">Notice</th>
                <th scope="col">Time</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
            {% for notice in notices%}
              <tr>
                <th scope="row">{{notice.id}}</th>
                <td>{{notice.notice}}</td>
                <td>{{notice.datetime}}</td>
                <td><a href="{% url 'edit_notice' notice.id %}" class="btn btn-info">Edit</a></td>
                <td><a href="{% url 'delete_notice' notice.id %}" class="btn btn-danger">Delete</a></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
    </div>   
{% endblock %}