{% extends 'panel/admin_panel.html' %}
{% block content %}
    <div class="container">

        <h2 style="text-align: center;"> Vehicles </h2>

        <hr>
        <a href="{% url 'scan_vehicle' %}" class="btn btn-secondary">Scan Vehicle</a>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">id</th>
                <th scope="col">Vehicle NumberPlate</th>
                <th scope="col">Arrival Time</th>
                <th scope="col">Departure Time</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
            {% for np in numberplates%}
              <tr>
                <th scope="row">{{np.id}}</th>
                <td>{{np.number_plate}}</td>
                <td>{{np.arrival_time}}</td>
                <td>{{np.departure_time}}</td>
                <td><a href="{% url 'delete_vehicle' np.id %}" class="btn btn-danger">Delete</a></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
    </div>   
{% endblock %}